/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
* Modified by Alex Harms 24 February 2023
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

// Mystery stuff above, my keymap below - AH

// Alex's Layers // Layer definitions must remain in this order within the keymap. 
#define ALPHA 0
#define NUMBER 1
#define SYMBOL 2
#define PARENS 3
#define NAVIGATION 4 

// names to make the keymap easier to read
#define ___ENTER__ &kp ENTER
#define ___SPACE__ &kp SPACE
#define ___TAB____ &kp TAB
#define __COMMA___ &kp COMMA
#define __PERIOD__ &kp PERIOD
#define __TILDE___ &kp TILDE
#define _BACKTICK_ &kp GRAVE
#define __CARET___ &kp CARET
#define _AT_SIGN__ &kp AT_SIGN
#define ___BANG___ &kp EXCLAMATION
#define ___HASH___ &kp HASH
#define _BACKSLASH &kp BACKSLASH
#define ___PIPE___ &kp PIPE
#define __DOLLAR__ &kp DOLLAR
#define _PERCENT__ &kp PERCENT
#define __SLASH___ &kp SLASH
#define ___PLUS___ &kp KP_PLUS
#define __MINUS___ &kp KP_MINUS
#define _ASTERISK_ &kp ASTERISK
#define __EQUALS__ &kp EQUAL
#define _AMPERSAND &kp AMPERSAND
#define _SEMICOLON &kp SEMICOLON
#define _UNDERLINE &kp UNDERSCORE
#define _L_SHIFT__ &kp LEFT_SHIFT 
#define _R_SHIFT__ &kp RIGHT_SHIFT
#define _CAPSLOCK_ &kp CAPSLOCK
#define CTL_SQUOTE &mt RCTRL SINGLE_QUOTE
#define CTL_BAKTAB &mt LCTRL LS(TAB)
#define _CMD_TAB__ &mt LCMD TAB
#define _CMD_ENTR_ &mt LCMD ENTER
#define CMD_BKSPCE &mt RCMD BSPC

#define _L_ALT_ESC &mt LALT ESC
#define _R_ALT_ESC &mt RALT ESC  

#define _TO_ALPHA_ &to ALPHA

//parens layer with escape  
#define _L_PAREN__ &kp LEFT_PARENTHESIS
#define _R_PAREN__ &kp RIGHT_PARENTHESIS
#define _L_BRACKET &kp LEFT_BRACKET
#define _R_BRACKET &kp RIGHT_BRACKET
#define _L_CURLY__ &kp LEFT_BRACE
#define _R_CURLY__ &kp RIGHT_BRACE
#define _L_ANGLE__ &kp LESS_THAN
#define _R_ANGLE__ &kp GREATER_THAN
#define __ESCAPE__ &kp ESCAPE
#define ___LEFT___ &kp LEFT
#define __RIGHT___ &kp RIGHT
#define ____UP____ &kp UP
#define ___DOWN___ &kp DOWN

//nice numbers & letters
#define ____0_____ &kp KP_NUMBER_0
#define ____1_____ &kp KP_NUMBER_1
#define ____2_____ &kp KP_NUMBER_2
#define ____3_____ &kp KP_NUMBER_3
#define ____4_____ &kp KP_NUMBER_4
#define ____5_____ &kp KP_NUMBER_5
#define ____6_____ &kp KP_NUMBER_6
#define ____7_____ &kp KP_NUMBER_7
#define ____8_____ &kp KP_NUMBER_8
#define ____9_____ &kp KP_NUMBER_9

#define ____A_____ &kp A
#define ____B_____ &kp B
#define ____C_____ &kp C
#define __D_NAV___ &lt NAVIGATION D
#define ____E_____ &kp E
#define _F_SYMBOL_ &lt SYMBOL F
#define ____G_____ &kp G
#define ____H_____ &kp H 
#define ____I_____ &kp I
#define _J_PARENS_ &lt PARENS J
#define ____K_____ &kp K
#define ____L_____ &kp L
#define ____M_____ &kp M
#define ____N_____ &kp N
#define ____O_____ &kp O
#define ____P_____ &kp P
#define ____Q_____ &kp Q
#define ____R_____ &kp R
#define _S_NUMBER_ &lt NUMBER S
#define ____T_____ &kp T
#define ____U_____ &kp U
#define ____V_____ &kp V
#define ____W_____ &kp W
#define ____X_____ &kp X
#define ____Y_____ &kp Y
#define ____Z_____ &kp Z

// and a spacer...
#define _
#define __________ &trans//parent

rpi: require_prior_idle {
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    require-prior-idle-ms = <125>;
    bindings = <&kp>, <&kp>;
};

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_0 {
      label = "ALPHA";
      bindings = <
    _CAPSLOCK_ ____Q_____ ____W_____ ____E_____ ____R_____ ____T_____  ____Y_____ ____U_____ ____I_____ ____O_____ ____P_____ __________

    CTL_BAKTAB ____A_____ _S_NUMBER_ __D_NAV___ _F_SYMBOL_ ____G_____  ____H_____ _J_PARENS_ ____K_____ ____L_____ _SEMICOLON CTL_SQUOTE

    _L_SHIFT__ ____Z_____ ____X_____ ____C_____ ____V_____ ____B_____  ____N_____ ____M_____ __COMMA___ __PERIOD__ __SLASH___ _R_SHIFT__

                                  _L_ALT_ESC ___TAB____ _CMD_ENT__        CMD_BKSPCE ___SPACE__ _R_ALT_ESC
      >;
    };

    layer_1 { 
      label = "NUMBER";
      bindings = <
    __________ __________ __________ __________ __________ __________  __EQUALS__ ____7_____ ____8_____ ____9_____ ___ENTER__ ___PLUS___

    __________ __________ __________ __________ __________ __________  __MINUS___ ____4_____ ____5_____ ____6_____ ___TAB____ _ASTERISK_

    __________ __________ __________ __________ __________ __________  _UNDERLINE ____1_____ ____2_____ ____3_____ __PERIOD__ __SLASH___

                                  __________ __________ __________        CMD_BKSPCE ____0_____ __________
      >;
    };

    layer_2 {
      label = "SYMBOL";
      bindings = <

    __________ __________ __________ __________ __________ __________  __EQUALS__ _AMPERSAND _ASTERISK_ ___PIPE___ __TILDE___ ___PLUS___

    __________ __________ __________ __________ __________ __________  __MINUS___ __DOLLAR__ _PERCENT__ __CARET___ _BACKTICK_ CTL_SQUOTE

    __________ __________ __________ __________ __________ __________  _UNDERLINE ___BANG___ _AT_SIGN__ ___HASH___ _BACKSLASH __SLASH___
    
                                  __________ __________ __________        CMD_BKSPCE ___SPACE__ _R_ALT_ESC
      >; 
    };

    layer_3 {
      label = "PARENS";
      bindings = <

    __________ __________ __________ _L_BRACKET _R_BRACKET __________  __________ __________ __________ __________ __________ __________

    __________ __________ _L_ANGLE__ _L_PAREN__ _R_PAREN__ _R_ANGLE__  __________ __________ __________ __________ __________ __________

    __________ __________ __________ _L_CURLY__ _R_CURLY__ __________  __________ __________ __________ __________ __________ __________
    
                                  __________ __________ __ESCAPE__        CMD_BKSPCE __________ __________
      >; 
    };

    layer_4 {
      label = "NAVIGATION";
      bindings = <

    __________ __________ __________ __________ __________ __________  __________ __________ __________ __________ __________ __________

    __________ __________ __________ __________ __________ __________  ___LEFT___ ___DOWN___ ____UP____ __RIGHT___ __________ __________

    __________ __________ __________ __________ __________ __________  __________ __________ __________ __________ __________ __________
    
                                  __________ __________ __________        CMD_BKSPCE __________ __________
      >; 
    };
  };
};
